@charset "UTF-8";

/*/＊左右真ん中に表示＊/*/
body{
    text-align: center;
    background-color:#f5f5f5;
}
/*文字変更*/
h1{
    color:#4169e1; 						/* 文字の色を水色にする */
    font-family:serif; 					/* フォントをserifにする */
    border-bottom:1px solid #4169e1;	/* 水色の線を引く*/
    display:inline-block;    			/*文字の下の範囲に線を書く*/
}
p{
    font-size: 120%
}

form{display: inline-block;}
/*ログインボタンのサイズを変える、デザインを変える*/
#delete1{
	display: inline-block;			/*削除ボタンの配置を均等につける
 	padding: 0.5em 1em;				/*削除ボタンの大きさを大きくする*/
  	text-decoration: none;			/*削除ボタンの文字の装飾*/
  	font-weight: bold;				/*削除ボタンの文字を太文字にする*/
  	border-radius: 4px;				/*削除ボタンの色を濃い灰色にして影をつける*/
 	color: white;														/*削除ボタンの文字の色を白にする*/
  	text-shadow: 1px 1px 1px rgba(#FFFFFF);				/*削除ボタンの文字に影をつける*/
 	background-image: linear-gradient(#6795fd 0%, #67ceff 100%);		/*削除ボタンの背景色を青色にする*/
  	box-shadow: 0px 2px 2px rgba(#050505);						/*削除ボタンに濃い影をつける*/
 	border-bottom: solid 3px #5e7fca;				/*削除ボタンの下の部分を青色にする*/
	margin: 2%;							/*上下左右の間を空ける*/
	font-size: 130%						/*サイズを大きくする*/
}

#delete2{
	display: inline-block;			/*戻るボタンの配置を均等につける
 	padding: 0.5em 1em;				/*戻るボタンの大きさを大きくする*/
  	text-decoration: none;			/*戻るボタンの文字の装飾*/
  	font-weight: bold;				/*戻るボタンの文字を太文字にする*/
  	border-radius: 4px;				/*戻るボタンの色を濃い灰色にして影をつける*/
 	color: white;														/*戻るボタンの文字の色を白にする*/
  	text-shadow: 1px 1px 1px rgba(#FFFFFF);				/*戻るボタンの文字に影をつける*/
 	background-image: linear-gradient(#6795fd 0%, #67ceff 100%);		/*戻るボタンのの背景色を青色にする*/
  	box-shadow: 0px 2px 2px rgba(#050505);						/*戻るボタンに濃い影をつける*/
 	border-bottom: solid 3px #5e7fca;				/*戻るボタンの下の部分を青色にする*/

	position:relative; right:120%;
	font-size: 130%						/*サイズを大きくする*/

}
a{
	color: blue;
}

#megmin {
    text-align: center;
}
#megmin form {
    display: inline-block;
    margin: 0 10px;
}