@charset "UTF-8";


/*/＊左右真ん中に表示＊/*/
*{
     text-align: center;
}

/*/＊背景の色を変更する＊/*/
body{
    background-color:red;

}

/*/＊ログインの色と書体変更＊/*/
h1{

    color:#4169e1;                       /* /＊ログインの文字の色を水色にする＊/
*/  font-family:serif;                    /*/＊ログインのフォントをserifにする＊/*/
    border-bottom: 1px solid #4169e1 ;    /*/＊水色の線を引く＊/*/
    display:inline-block;                /*/＊ログインの文字の下の範囲に線を書く＊/*/
}

/*Pタグ(ログアウトしました。)のサイズ変更*/
p{
    font-size: 120%
}